body {
    width: 1350px;
    margin: 0;
    background-color: thistle;
}
.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo {
    font-family: 'Rubik';
    font-size: 90px;
    text-align: center;
    margin-top: 150px;
}
.title {
    font-family: 'Quicksand';
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 170px;
}
.red {
    color: red;
}
.short-text {
    text-align: center;
    font-size: 20px;
}
.short-card {
    width: 400px;
}
.short-wide-card {
    width: 450px;
}
.short-img {
    width: 400px;
}
.img {
    height: 280px;
}
.wide-img {
    width: 450px;
}
.wide-img2 {
    width: 390px;
}
.wide-img3 {
    width: 320px;
}
.wide-img5 {
    width: 300px;
}
.wide-img4 {
    width: 600px;
}
.wide-img5 {
    width: 360px;
}
.medium-img {
    width: 275px;
}
.medium-height-img {
    height: 230px;
}
.shooter-blue {
    background-color: lightskyblue;
    margin-top: 100px;
}
.shooter-green {
    background-color: greenyellow;
    margin-top: 100px;
}
.shooter-red {
    background-color: maroon;
    margin-top: 100px;
}
.shooter-orange {
    background-color: orangered;
    margin-top: 100px;
}
.shooter-black {
    background-color: gray;
    margin-top: 100px;
}
.text-blue {
    color: blue;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: start;
}
.text-blue1 {
    color: blue;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
}
.no-underline-blue {
    text-decoration: none;
    color: blue;
}
.wiki-part-blue {
    width: 630px;
    border: 5px solid blue;
    margin-top: 75px;
}
.wiki-part-height-blue {
    width: 630px;
    height: 750px;
    border: 5px solid blue;
    margin-top: 100px;
}
.logo-text-blue {
    font-family: 'Roboto';
    color: blue;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    border: 1px solid blue;
}
.game-title-blue {
    font-family: 'Roboto';
    color: blue;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.img-blue {
    width: 350px;
    border: 5px solid blue;
}
.wide-img-blue {
    width: 400px;
    border: 5px solid blue;
    margin-bottom: 30px;
}
.height-img-blue {
    height: 400px;
    width: 380px;
    border: 5px solid blue;
}
.wpn-blue {
    border: 5px dotted blue;
}
.wide-wpn-blue {
    border: 5px dotted blue;
}
.enemy-blue {
    border: 5px dashed blue;
}
.boss-blue {
    border: 5px double blue;
}
.text-blue-underline {
    color: blue;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border: 1px solid blue;
}
.boss-text-blue {
    color: blue;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border: 1px solid blue;
    font-weight: 700;
}
.text-green {
    color: green;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: start;
}
.text-green1 {
    color: green;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
}
.no-underline-green {
    text-decoration: none;
    color: green;
}
.wiki-part-green {
    width: 630px;
    border: 5px solid green;
    margin-top: 75px;
}
.wiki-part-height-green {
    width: 600px;
    height: 600px;
    border: 5px solid green;
    margin-top: 75px;
}
.wiki-part-green-big {
    width: 640px;
    height: 800px;
    border: 5px solid green;
    margin-top: 100px;
}
.logo-text-green {
    font-family: 'Roboto';
    color: green;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    border: 1px solid green;
}
.game-title-green {
    font-family: 'Roboto';
    color: green;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.img-green {
    width: 420px;
    border: 5px solid green;
}
.wide-img-green {
    width: 400px;
    border: 5px solid green;
    margin-bottom: 30px;
}
.height-img-green {
    height: 485px;
    width: 500px;
    border: 5px solid green;
}
.wpn-green {
    border: 5px dotted green;
}
.wide-wpn-green {
    border: 5px dotted green;
    width: 500px;
}
.enemy-green {
    border: 5px dashed green;
    height: auto;
}
.boss-green {
    border: 5px double green;
}
.text-green-underline {
    color: green;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border: 1px solid green;
}
.boss-text-green {
    color: green;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border: 1px solid green;
    font-weight: 700;
}
.text-red {
    color: red;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: start;
}
.text-red1 {
    color: red;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
}
.no-underline-red {
    text-decoration: none;
    color: red;
}
.wiki-part-red {
    width: 630px;
    height: 750px;
    border: 5px solid red;
}
.wiki-part-height-red {
    width: 630px;
    height: 750px;
    border: 5px solid red;
}
.wiki-part-red-big {
    width: 640px;
    height: 800px;
    border: 5px solid red;
}
.logo-text-red {
    font-family: 'Roboto';
    color: red;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    border: 1px solid red;
}
.game-title-red {
    font-family: 'Roboto';
    color: red;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.img-red {
    width: 380px;
    border: 5px solid red;
}
.wide-img-red {
    width: 400px;
    border: 5px solid red;
    margin-bottom: 30px;
}
.height-img-red {
    height: 420px;
    width: 380px;
    border: 5px solid red;
}
.wpn-red {
    border: 5px dotted red;
}
.wide-wpn-red {
    border: 5px dotted red;
    width: 500px;
}
.enemy-red {
    border: 5px dashed red;
}
.boss-red {
    border: 5px double red;
}
.text-red-underline {
    color: red;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border: 1px solid red;
}
.boss-text-red {
    color: red;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border: 1px solid red;
    font-weight: 700;
}
.text-orange {
    color: orange;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: start;
}
.text-orange1 {
    color: orange;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
}
.no-underline-orange {
    text-decoration: none;
    color: orange;
}
.wiki-part-orange {
    width: 630px;
    border: 5px solid orange;
    margin-top: 75px;
}
.wiki-part-height-orange {
    width: 630px;
    height: 750px;
    border: 5px solid orange;
    margin-top: 100px;
}
.logo-text-orange {
    font-family: 'Roboto';
    color: orange;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    border: 1px solid orange;
}
.game-title-orange {
    font-family: 'Roboto';
    color: orange;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.img-orange {
    width: 350px;
    border: 5px solid orange;
}
.wide-img-orange {
    width: 400px;
    border: 5px solid orange;
    margin-bottom: 30px;
}
.height-img-orange {
    height: 400px;
    width: 380px;
    border: 5px solid orange;
}
.wpn-orange {
    border: 5px dotted orange;
}
.wide-wpn-orange {
    border: 5px dotted orange;
    width: 350px;
}
.enemy-orange {
    border: 5px dashed orange;
}
.boss-orange {
    border: 5px double orange;
}
.text-orange-underline {
    color: orange;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border: 1px solid orange;
}
.boss-text-orange {
    color: orange;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border: 1px solid orange;
    font-weight: 700;
}
.text-black {
    color: black;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: start;
}
.text-black1 {
    color: black;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
}
.no-underline-black {
    text-decoration: none;
    color: black;
}
.wiki-part-black {
    width: 630px;
    border: 5px solid black;
    margin-top: 75px;
}
.wiki-part-height-black {
    width: 630px;
    height: 750px;
    border: 5px solid black;
    margin-top: 100px;
}
.logo-text-black {
    font-family: 'Roboto';
    color: black;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    border: 1px solid black;
}
.game-title-black {
    font-family: 'Roboto';
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.img-black {
    width: 350px;
    border: 5px solid black;
}
.wide-img-black {
    width: 360px;
    border: 5px solid black;
    margin-bottom: 30px;
}
.height-img-black {
    height: 400px;
    width: 380px;
    border: 5px solid black;
}
.wpn-black {
    border: 5px dotted black;
}
.wide-wpn-black {
    border: 5px dotted black;
    width: 350px;
}
.enemy-black {
    border: 5px dashed black;
}
.boss-black {
    border: 5px double black;
}
.text-black-underline {
    color: black;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border: 1px solid black;
}
.boss-text-black {
    color: black;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    border: 1px solid black;
    font-weight: 700;
}
.shooter {
    margin: 30px;
}
.wiki-img {
    width: 630px;
}
.wiki-img-height {
    height: 650px;
}
.link {
    font-family: 'Roboto';
    color: royalblue;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 30px;
}
.link2 {
    font-family: 'Roboto';
    color: aqua;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 30px;
}
.boss-img {
    width: 375px;
}
.boss-img2 {
    width: 375px;
    margin-top: 75px;
}
.boss-img3 {
    width: 350px;
}
.wide-boss-img {
    width: 475px;
}
.height-boss-img {
    height: 420px;
}
.thin-boss-img {
    width: 240px;
}
.small-img {
    width: 180px;
}
.small-img2 {
    width: 245px;
    margin-top: 100px;
}
.enemy-img-height {
    height: 325px;
}
.margin-left {
    margin-left: 25px;
}
.margin-left2 {
    margin-left: 10px;
}
.margin-left3 {
    margin-left: 50px;
}
.margin-left4 {
    margin-left: 70px;
}
.margin-left5 {
    margin-left: 80px;
}
.margin-left6 {
    margin-left: 100px;
}
.margin-left7 {
    margin-left: 40px;
}
.margin-top {
    margin-top: 40px;
}
.margin-top2 {
    margin-top: 100px;
}
.margin-top3 {
    margin-top: 80px;
}
.margin-top4 {
    margin-top: 200px;
}